<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Movie Review Sentiment Analyzer-Choices</title>
</head>
<body style="background-color: black;">
    <!--display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;"-->
    <nav class="navbar">        <!--Creating a navbar-->
        <h1 class="navbar-brand text-light"><strong>MOVIE REVIEW SENTIMENT ANALYZER</strong></h1>
    </nav>
    <div class="container mt-4">
        <div class="row">
            <div class="offset-2 col-md-8 mt-2">
                <h1 class="text-light" style="text-align: center; margin-top: 100px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><strong>IMDb MOVIE REVIEW SENTIMENT ANALYZER</strong></h1>
                <br>
                <div class="Title" style="align-items: center;
                justify-content: center;
                text-align: center;">
                    <form action="{{url_for('choices')}}", method="POST">
                        <input type="text" name="movie" class="form-control" placeholder="Enter Movie Name"/>
                        <br>
                        <button class="btn btn-success"><strong>SUBMIT</strong></button>
                        <a href="{{url_for('home')}}", class="btn btn-danger"><strong>RESET</strong></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="instruction" style="align-items: center;
                justify-content: center;
                text-align: center;">
        <p class="text" style="color: lightgreen;"><strong>CLICK ON THE ID TO SELECT THE MOVIE</strong></p>
    </div>
    <div class="row justify-content-center">
        <table>
            <tbody class="table table-bordered" style="align-items: center;
            text-align: center; display: table-row-group;">
                <tr>
                    <th class="text-light">IMDb-ID</th>
                    <th class="text-light">Movie Title</th>
                    <th class="text-light">Year of Release</th>
                </tr>
                {% for i in range(idx|length) %}
                <tr>
                    <form method="POST"></form>
                    <td class="text-light">
                        <a href="{{ url_for('review', type = idx[i])}}"><button class="btn btn-large text-light">{{idx[i]}}</button></a> <!--<input class="btn text-light" name="id" type="submit" value={{idx[i]}}>-->
                    </td>
                    <td class="text-light">
                        {{movie[i]}}
                    </td>
                    <td class="text-light">
                        {{yor[i]}}
                    </td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    <br><br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
